<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/home.css" type="text/css" />
    <link rel="stylesheet" href="/css/home-tablets.css" type="text/css" />
    <link rel="stylesheet" href="/css/home-desktop.css" type="text/css" />
    <%- include("./partials/head") %>

</head>

<body>
    <%- include("./partials/header") %>
        <%- include("./partials/carrousel-head") %>

            <main class="home-container">
                <section class="three-block-section">
                    <a href="<%=`/collections` %>" class="block-shop-for-men blocks-shops">
                        <div class="content-block">
                            <h2 class="block-tittle">
                                Eyeglasses For Men
                            </h2>
                            <p class="block-p">
                                Open a new selection just for you
                            </p>
                        </div>
                    </a>
                    <a href="<%=`/collections` %>" class="block-shop-for-women blocks-shops">
                        <div class="content-block">
                            <h2 class="block-tittle">
                                Eyeglasses For Women
                            </h2>
                            <p class="block-p">
                                Open a new selection just for you
                            </p>
                        </div>
                    </a>
                    <a href="<%=`/collections` %>" class="block-shop-do-it blocks-shops">
                        <div class="content-block">
                            <h2 class="block-tittle">
                                Own it
                            </h2>
                            <p class="block-p">
                                Create your unique pair of glasses
                            </p>
                        </div>
                    </a>
                </section>

                <section class="discount-blocks">
                    <div class="text-center w-100 pv">
                        <h2>OUR LAST DISCOUNTS</h2>
                    </div>

                    <div class="discount-top">
                        <article class="discount-product">
                            <img src="/images/lentes-de-sol-rusty-bruk.jpg" class="w-100" />
                            <div class="discount-content">
                                <p class="discount-p font-small">UP TO</p>
                                <h3 class="discount  font-large pvs">15% OFF</h3>
                                <p class="discount-p font-small">RUSTY</p>
                            </div>
                        </article>
                    </div>

                    <div class="discount-top">
                        <article class="discount-product">
                            <img src="/images/lentes-de-sol-rusty-bruk.jpg" class="w-100" />
                            <div class="discount-content">
                                <p class="discount-p font-small">UP TO</p>
                                <h3 class="discount  font-large pvs">40% OFF</h3>
                                <p class="discount-p font-small">SUNGLASSES</p>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="display-by-category">
                    <div class="text-center w-100 pv">
                        <h2>OUR-MOST WANTED STYLES</h2>
                    </div>

                    <div class="display-categories">
                        <div class="contenedor-category">
                            <img src="/images/lentes-de-sol-rusty-bruk.jpg" class="w-100">
                            <div class="content-category">
                                <h3 class="font-large pvs">Classic</h3>
                            </div>
                        </div>

                        <div class="contenedor-category">
                            <img src="/images/solares-borde-metalico-morado.jpg" class="w-100">
                            <div class="content-category">
                                <h3 class="font-large pvs">Classic</h3>
                            </div>
                        </div>

                        <div class="contenedor-category">
                            <img src="/images/ray-ban.jpg" class="w-100">
                            <div class="content-category">
                                <h3 class="font-large pvs">Classic</h3>
                            </div>
                        </div>

                        <div class="contenedor-category">
                            <img src="/images/solares-carrera-flagtop-unisex.jpg" class="w-100">
                            <div class="content-category">
                                <h3 class="font-large pvs">Classic</h3>
                            </div>
                        </div>
                    </div>

                    <div class="display-category">
                        <div class="text-center w-100 pv">
                            <h2>BRANDS THAT WORK WITH US</h2>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="display-categories">
                        <div class="contenedor-category">
                            <img src="/images/lentes-de-sol-rusty-bruk.jpg" class="w-100">
                            <div class="content-category">
                                <h3 class="font-large pvs">Classic</h3>
                            </div>
                        </div>

                        <div class="contenedor-category">
                            <img src="/images/solares-borde-metalico-morado.jpg" class="w-100">
                            <div class="content-category">
                                <h3 class="font-large pvs">Classic</h3>
                            </div>
                        </div>

                        <div class="contenedor-category">
                            <img src="/images/ray-ban.jpg" class="w-100">
                            <div class="content-category">
                                <h3 class="font-large pvs">Classic</h3>
                            </div>
                        </div>

                        <div class="contenedor-category">
                            <img src="/images/solares-carrera-flagtop-unisex.jpg" class="w-100">
                            <div class="content-category">
                                <h3 class="font-large pvs">Classic</h3>
                            </div>
                        </div>
                    </div>
                </section>

                <%- include("./partials/carrousel-footer") %>
                    <%- include("./partials/footer") %>

</body>

</html>