<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/products.css" type="text/css" />
  <link rel="stylesheet" href="/css/product-mobile.css" type="text/css" />
  <link rel="stylesheet" href="/css/product-tablet.css" type="text/css" />
  <%- include("./partials/head") %>

</head>

<body>
  <%- include("./partials/header") %>
    <main class="prod-container">
      <article>
        <section class="main-product">
          <div class="modelos">
            <img class="rusty-bruk1" src="<%= product.img %> ">
            <img class="rusty-bruk1" src="<%= product.img %> ">
            <img class="rusty-bruk1" src="<%= product.img %> ">
          </div>
          <div class="image-product">
            <img class="rusty-bruk" src="<%= product.img %> " alt="imagen principal">
          </div>
          <div class="product-description">

            <h1>
              <%= product.name %>
            </h1>
            <P class="price">
              <%= product.price %>
            </P>
            <!-- <div class="star-description">
              <i class="far fa-star"></i> <i class="far fa-star"></i><i class="far fa-star"></i><i
                class="far fa-star"></i><i class="far fa-star"></i>
            </div> -->
            <P class="description">
              <%= product.descr %>
            </P>

            <p class="button-position">
              <button class="button" type="submit" name="comprar" id="">
                <p>Comprar ahora</p>
              </button>
            </p>




          </div>


      </article>

      </section>

      <div class="button-tablet">
        <p class="button-position">
          <button class="button1" type="submit" name="comprar" id="">
            <p>Comprar ahora</p>
          </button>
        </p>
      </div>

      <section class="related-products">
        <h2>Productos Relacionados</h2>


        <div class="productos2">

          <div class="prod2">
            <img src="/images/descarga (3).jpg" alt="">
            <div>
              <i></i>
              <h3>Ray Ban Hexagonal</h3>
              <p>Modernos Ray Ban Hexagonal unisex</p>
            </div>

          </div>

          <div class="prod2">
            <img src="/images/images (5).jpg" alt="">
            <div>
              <i></i>
              <h3>Ray Ban Clasic</h3>
              <p>Clasic Ray Ban Hexagonal unisex</p>
            </div>

          </div>
          <div class="prod2">
            <img src="/images/descarga (3).jpg" alt="">
            <div>
              <i></i>
              <h3>Ray Ban Hexagonal</h3>
              <p>Modernos Ray Ban Hexagonal unisex</p>
            </div>

          </div>

        </div>
      </section>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>