<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>

</head>

<body>
    <%- include("./partials/header") %>
        <main class="container-shop">
            <section class="pv">
                <h2 class="shop-heading">For You</h2>
                <section class="article-container">
                    <% for(let product of products){ %>
                        <div class="wrapper">
                            <article class="product">

                                <a href="<%=`/collections/${product.id}` %>">
                                    <img src="<%= product.img %> " class="w-100" alt="" margin-bot />
                                </a>
                                <div class="product-content">
                                    <i class="
                                            fas
                                            fa-truck
                                            truck-icon
                                            text-green
                                            b
                                            border-green
                                            font-medium
                                            p
                                        "></i>
                                    <p class="price font-medium">
                                        <%= product.price %>
                                    </p>
                                    <p class="discount text-green font-medium">
                                        <%= product.desc %>
                                    </p>
                                    <h3 class="description font-large">
                                        <%= product.name %>
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <% } %>
                </section>
            </section>

            <!-- ----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------- -->
            <section class="pv">
                <h2 class="shop-heading">Shop</h2>
                <section class="article-container">
                    <div class="wrapper">
                        <article class="product">
                            <a href="/products">
                                <img src="\images\lentes-de-sol-rusty-bruk1.jpg" class="w-100" alt="" margin-bot />
                            </a>
                            <div class="product-content">
                                <i class="
                                            fas
                                            fa-truck
                                            truck-icon
                                            text-green
                                            b
                                            border-green
                                            font-medium
                                            p
                                        "></i>
                                <p class="price font-medium">$500</p>
                                <p class="discount text-green font-medium">
                                    10% OFF
                                </p>
                                <h3 class="description font-large">
                                    Rusty Sunglasses
                                </h3>
                            </div>
                        </article>
                    </div>

                    <div class="wrapper">
                        <article class="product">
                            <a href="/products">
                                <img src="\images\lentes-de-sol-rusty-bruk1.jpg" class="w-100" alt="" margin-bot />
                            </a>
                            <div class="product-content">
                                <i class="
                                            fas
                                            fa-truck
                                            truck-icon
                                            text-green
                                            b
                                            border-green
                                            font-medium
                                            p
                                        "></i>
                                <p class="price font-medium">$500</p>
                                <p class="discount text-green font-medium">
                                    10% OFF
                                </p>
                                <h3 class="description font-large">
                                    Rusty Sunglasses
                                </h3>
                            </div>
                        </article>
                    </div>

                    <div class="wrapper">
                        <article class="product">
                            <a href="/products">
                                <img src="\images\lentes-de-sol-rusty-bruk1.jpg" class="w-100" alt="" margin-bot />
                            </a>
                            <div class="product-content">
                                <i class="
                                            fas
                                            fa-truck
                                            truck-icon
                                            text-green
                                            b
                                            border-green
                                            font-medium
                                            p
                                        "></i>
                                <p class="price font-medium">$500</p>
                                <p class="discount text-green font-medium">
                                    10% OFF
                                </p>
                                <h3 class="description font-large">
                                    Rusty Sunglasses
                                </h3>
                            </div>
                        </article>
                    </div>

                    <div class="wrapper">
                        <article class="product">
                            <a href="/products">
                                <img src="\images\lentes-de-sol-rusty-bruk1.jpg" class="w-100" alt="" margin-bot />
                            </a>
                            <div class="product-content">
                                <i class="
                                            fas
                                            fa-truck
                                            truck-icon
                                            text-green
                                            b
                                            border-green
                                            font-medium
                                            p
                                        "></i>
                                <p class="price font-medium">$500</p>
                                <p class="discount text-green font-medium">
                                    10% OFF
                                </p>
                                <h3 class="description font-large">
                                    Rusty Sunglasses
                                </h3>
                            </div>
                        </article>
                    </div>

                    <div class="wrapper">
                        <article class="product">
                            <a href="/products">
                                <img src="\images\lentes-de-sol-rusty-bruk1.jpg" class="w-100" alt="" margin-bot />
                            </a>
                            <div class="product-content">
                                <i class="
                                            fas
                                            fa-truck
                                            truck-icon
                                            text-green
                                            b
                                            border-green
                                            font-medium
                                            p
                                        "></i>
                                <p class="price font-medium">$500</p>
                                <p class="discount text-green font-medium">
                                    10% OFF
                                </p>
                                <h3 class="description font-large">
                                    Rusty Sunglasses
                                </h3>
                            </div>
                        </article>
                    </div>

                    <div class="wrapper">
                        <article class="product">
                            <a href="/products">
                                <img src="\images\lentes-de-sol-rusty-bruk1.jpg" class="w-100" alt="" margin-bot />
                            </a>
                            <div class="product-content">
                                <i class="
                                            fas
                                            fa-truck
                                            truck-icon
                                            text-green
                                            b
                                            border-green
                                            font-medium
                                            p
                                        "></i>
                                <p class="price font-medium">$500</p>
                                <p class="discount text-green font-medium">
                                    10% OFF
                                </p>
                                <h3 class="description font-large">
                                    Rusty Sunglasses
                                </h3>
                            </div>
                        </article>
                    </div>

                    <div class="wrapper">
                        <article class="product">
                            <a href="/products">
                                <img src="\images\lentes-de-sol-rusty-bruk1.jpg" class="w-100" alt="" margin-bot />
                            </a>
                            <div class="product-content">
                                <i class="
                                            fas
                                            fa-truck
                                            truck-icon
                                            text-green
                                            b
                                            border-green
                                            font-medium
                                            p
                                        "></i>
                                <p class="price font-medium">$500</p>
                                <p class="discount text-green font-medium">
                                    10% OFF
                                </p>
                                <h3 class="description font-large">
                                    Rusty Sunglasses
                                </h3>
                            </div>
                        </article>
                    </div>

                    <div class="wrapper">
                        <article class="product">
                            <a href="/products">
                                <img src="\images\lentes-de-sol-rusty-bruk1.jpg" class="w-100" alt="" margin-bot />
                            </a>
                            <div class="product-content">
                                <i class="
                                            fas
                                            fa-truck
                                            truck-icon
                                            text-green
                                            b
                                            border-green
                                            font-medium
                                            p
                                        "></i>
                                <p class="price font-medium">$500</p>
                                <p class="discount text-green font-medium">
                                    10% OFF
                                </p>
                                <h3 class="description font-large">
                                    Rusty Sunglasses
                                </h3>
                            </div>
                        </article>
                    </div>
                </section>
        </main>
        <%- include("./partials/footer") %>
</body>

</html>