<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/shop.css" type="text/css" />
    <link rel="stylesheet" href="/css/shop-tablet.css" type="text/css" />
    <link rel="stylesheet" href="/css/shop-desktop.css" type="text/css" />
    <%- include("./partials/head") %>

</head>

<body>
    <%- include("./partials/header") %>
        <main class="container-shop">
            <section class="pv">
                <h2 class="shop-heading">For You</h2>
                <section class="article-container">
                    <% for(let product of products){ %>
                        <div class="wrapper">
                            <article class="product">

                                <a href="<%=`/collections/${product.id}` %>">
                                    <img src="/images/productsImage/<%= product.img %> " class="w-100" alt=""
                                        margin-bot />
                                </a>
                                <div class="product-content">

                                    <h3 class="description font-large">
                                        <%= product.name %>
                                    </h3>
                                    <p class="price font-medium">
                                        <%= product.price %>
                                    </p>
                                    <p class="discount text-green font-medium">
                                        <%= product.desc %>
                                    </p>
                                </div>
                            </article>
                        </div>
                        <% } %>
                </section>
            </section>

            <!-- ----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------- -->
            <section class="pv">
                <h2 class="shop-heading">Shop</h2>
                <section class="article-container">
                    <% for(let product of products){ %>
                        <div class="wrapper">
                            <article class="product">

                                <a href="<%=`/collections/${product.id}` %>">
                                    <img src="/images/productsImage/<%= product.img %> " class="w-100" alt=""
                                        margin-bot />
                                </a>
                                <div class="product-content">

                                    <h3 class="description font-large">
                                        <%= product.name %>
                                    </h3>
                                    <p class="price font-medium">
                                        <%= product.price %>
                                    </p>
                                    <p class="discount text-green font-medium">
                                        <%= product.desc %>
                                    </p>
                                </div>
                            </article>
                        </div>
                        <% } %>
                </section>
            </section>
        </main>
        <%- include("./partials/footer") %>
</body>

</html>