<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <%- include("./partials/header") %>
        <main class="container-content-login">
            <form action="/collections" method="post" class="create-form" enctype="multipart/form-data">
                <div class="control-form">
                    <input type="text" name="name" placeholder="Nombre Del Producto" class="control" <%=locals.errors &&
                        errors.name ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.name : null %>">

                        <% if (locals.errors && errors.name) { %>
                            <p style="color: red">
                                <%= errors.name.msg %>
                            </p>
                            <% } %>
                </div>
                <div class="control-form">
                    <label>Imágen del producto</label>
                    <input type="file" name="img" multiple class="control">
                    <% if (locals.errors && errors.img) { %>
                        <p style="color: red">
                            <%= errors.img.msg %>
                        </p>
                        <% } %>
                </div>
                <div class="control-form">
                    <input type="text" name="type" placeholder="Tipo De Producto" class="control" <%=locals.errors &&
                        errors.type ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.type : null %>">

                        <% if (locals.errors && errors.type) { %>
                            <p style="color: red">
                                <%= errors.type.msg %>
                            </p>
                            <% } %>
                </div>
                <div class="control-form">
                    <input type="text" name="model" placeholder="Modelo Del Producto" class="control" <%=locals.errors
                        && errors.model ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.model : null %>">

                        <% if (locals.errors && errors.model) { %>
                            <p style="color: red">
                                <%= errors.model.msg %>
                            </p>
                            <% } %>
                </div>
                <div class="control-form">
                    <input type="text" name="brand" placeholder="Marca Del Producto" class="control" <%=locals.errors &&
                        errors.brand ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.brand : null %>">

                        <% if (locals.errors && errors.brand) { %>
                            <p style="color: red">
                                <%= errors.brand.msg %>
                            </p>
                            <% } %>
                </div>
                <div class="control-form">
                    <input type="text" name="border_color" placeholder="Color" class="control" <%=locals.errors &&
                        errors.border_color ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.border_color :
                        null %>">

                        <% if (locals.errors && errors.border_color) { %>
                            <p style="color: red">
                                <%= errors.border_color.msg %>
                            </p>
                            <% } %>
                </div>
                <div class="control-form">
                    <input type="text" name="gender" placeholder="Género" class="control" <%=locals.errors &&
                        errors.gender ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.gender : null %>">

                        <% if (locals.errors && errors.gender) { %>
                            <p style="color: red">
                                <%= errors.gender.msg %>
                            </p>
                            <% } %>
                </div>
                <div class="control-form">
                    <input type="text" name="glass_color" placeholder="Color del lente" class="control" <%=locals.errors
                        && errors.glass_color ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.glass_color
                        : null %>">

                        <% if (locals.errors && errors.glass_color) { %>
                            <p style="color: red">
                                <%= errors.glass_color.msg %>
                            </p>
                            <% } %>
                </div>
                <div class="control-form">
                    <input type="text" name="price" placeholder="Precio $" class="control" <%=locals.errors &&
                        errors.price ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.price : null %>">

                        <% if (locals.errors && errors.price) { %>
                            <p style="color: red">
                                <%= errors.price.msg %>
                            </p>
                            <% } %>
                </div>
                <div class="control-form">
                    <input type="text" name="description" placeholder="Descripción del producto" class="control"
                        <%=locals.errors && errors.description ? 'is-invalid' : null %>" value="<%= locals.oldData ?
                        oldData.description : null %>">

                        <% if (locals.errors && errors.description) { %>
                            <p style="color: red">
                                <%= errors.description.msg %>
                            </p>
                            <% } %>
                </div>

                <button type="submit" class="button-form">Publicar</button>
            </form>
        </main>

        <%- include("./partials/footer") %>
</body>

</html>