<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>

</head>

<body>
    <%- include("./partials/header") %>
        <section>
            <main class="container-content">

                <div class="button-gf">
                    <button type="submit" class="button-g"><i class="fab fa-google"
                            style="margin-right: 20px;"></i>Continuar con
                        Google</button>
                    <button type="submit" class="button-g"><i class="fab fa-facebook-square"
                            style="margin-right: 20px;"></i>Continuar con
                        Facebook</button>
                </div>

                <form action="/register" method="post" class="create-form">

                    <div class="control-form">
                        <label>Nombre y apellido:</label>
                        <input type="text" name="name" class="control <%= locals.errors && errors.name ? 'is-invalid' :
                            null %>" value="<%= locals.oldData ? oldData.name : null %>">

                        <% if (locals.errors && errors.name) { %>
                            <p style="color: red">
                                <%= errors.name.msg %>
                            </p>
                            <% } %>
                    </div>
                    <div class="control-form">
                        <label>Nombre de usuario:</label>
                        <input type="text" name="user"
                            class="control <%= locals.errors && errors.user ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.user : null %>">
                        <% if (locals.errors && errors.user) { %>
                            <p style="color: red">
                                <%= errors.user.msg %>
                            </p>
                            <% } %>
                    </div>
                    <div class="control-form">
                        <label>Correo electrónico:</label>
                        <input type="text" name="mail"
                            class="control <%= locals.errors && errors.mail ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.mail : null %>">
                        <% if (locals.errors && errors.mail) { %>
                            <p style="color: red">
                                <%= errors.mail.msg %>
                            </p>
                            <% } %>
                    </div>
                    <div class="control-form">
                        <label>Fecha de nacimiento:</label>
                        <input type="date" name="birdate" class="control">
                    </div>
                    <div class="control-form">
                        <label>Domicilio:</label>
                        <input type="text" name="direction"
                            class="control <%= locals.errors && errors.direction ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.direction : null %>">
                        <% if (locals.errors && errors.direction) { %>
                            <p style="color: red">
                                <%= errors.direction.msg %>
                            </p>
                            <% } %>
                    </div>


                    <div class="control-form">
                        <label>Contraseña:</label>
                        <input type="password" name="pass"
                            class="control <%= locals.errors && errors.pass ? 'is-invalid' : null %>">
                        <% if (locals.errors && errors.pass) { %>
                            <p style="color: red">
                                <%= errors.pass.msg %>
                            </p>
                            <% } %>
                    </div>
                    <div class="control-form">
                        <label>Confirmar Contraseña:</label>
                        <input type="password" name="repass"
                            class="control <%= locals.errors && errors.repass ? 'is-invalid' : null %>">
                        <% if (locals.errors && errors.repass) { %>
                            <p style="color: red">
                                <%= errors.repass.msg %>
                            </p>
                            <% } %>
                    </div>
                    <button type="submit" class="button-form">Crear cuenta</button>
                </form>

            </main>
            <%- include("./partials/footer") %>
</body>

</html>