<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/products.css" type="text/css" />
  <link rel="stylesheet" href="/css/product-tablet.css" type="text/css" />
  <%- include("./partials/head") %>

</head>

<body>
  <%- include("./partials/header") %>

    <main class="prod-container">
      <article>
        <section class="main-product">

          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="<%= product.imageProducts.image1 %> " class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="<%= product.imageProducts.image2 %> " class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="<%= product.imageProducts.image3 %> " class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
          <div class="product-button">
            <div class="product-description">

              <h1>
                <%= product.name %>

              </h1>
              <p>
                Marca: <%= product.brands.brand %>
              </p>
              <p>
                Género: <%= product.Gender.name %>
              </p>
              <p>
                Categoría: <%= product.Type.name %>
              </p>
              <P class="price">
                Precio: $ <%= product.price %>
              </P>
              <!-- <div class="star-description">
              <i class="far fa-star"></i> <i class="far fa-star"></i><i class="far fa-star"></i><i
                class="far fa-star"></i><i class="far fa-star"></i>
            </div> -->
              <P class="description">
                <%= product.description %>
              </P>

            </div>
            <form action="/cart" method="post">
              <button class="button-product" type="submit" name="comprar" id="">Agregar
                al carrito - $ <%= product.price %>
              </button>
            </form>

            <div>
              <a href="/collections/<%= product.id %>/edit " class="button-product-edit">Editar</a>
              <form action="/collections/<%= product.id %>?_method=DELETE " method="POST" style="display: inline-flex">
                <button type="submit" class="button-product-delete">ELIMINAR</button>
              </form>
            </div>
          </div>


      </article>

      </section>

      <%- include("./partials/carrousel-footer") %>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>