<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/home.css" type="text/css" />
    <link rel="stylesheet" href="/css/home-tablets.css" type="text/css" />
    <link rel="stylesheet" href="/css/home-desktop.css" type="text/css" />
    <%- include("./partials/head") %>

</head>

<body>
    <%- include("./partials/header") %>
        <%- include("./partials/carrousel-head") %>

            <main class="home-container">
                <section class="three-block-section">
                    <a href="<%=`/collections` %>" class="block-shop-for-men blocks-shops">
                        <div class="content-block">
                            <h2 class="block-tittle">
                                Eyeglasses For Men
                            </h2>
                            <p class="block-p">
                                Open a new selection just for you
                            </p>
                        </div>
                    </a>
                    <a href="<%=`/collections` %>" class="block-shop-for-women blocks-shops">
                        <div class="content-block">
                            <h2 class="block-tittle">
                                Eyeglasses For Women
                            </h2>
                            <p class="block-p">
                                Open a new selection just for you
                            </p>
                        </div>
                    </a>
                    <a href="<%=`/collections` %>" class="block-shop-do-it blocks-shops">
                        <div class="content-block">
                            <h2 class="block-tittle">
                                Own it
                            </h2>
                            <p class="block-p">
                                Create your unique pair of glasses
                            </p>
                        </div>
                    </a>
                </section>



                <%- include("./partials/tabs") %>


                    <%- include("./partials/footer") %>

</body>

</html>