<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/home.css" type="text/css" />
    <link rel="stylesheet" href="/css/home-tablets.css" type="text/css" />
    <link rel="stylesheet" href="/css/home-desktop.css" type="text/css" />
    <%- include("./partials/head") %>

</head>

<body>
    <%- include("./partials/header") %>
        <%- include("./partials/carrousel-head") %>

            <main class="home-container">
                <section class="three-block-section">
                    <a href="<%=`/collections/` %>" class="block-shop-all blocks-shops">
                        <div class="content-block">
                            <h2 class="block-tittle">
                                All Glasses
                            </h2>

                        </div>
                    </a>
                    <a href="<%=`/collections/unisex` %>" class="block-shop-do-it blocks-shops">
                        <div class="content-block">
                            <h2 class="block-tittle">
                                Glasses Unisex
                            </h2>

                        </div>
                    </a>
                    <a href="<%=`/collections/women` %>" class="block-shop-for-women blocks-shops">
                        <div class="content-block">
                            <h2 class="block-tittle">
                                Glasses For Women
                            </h2>

                        </div>
                    </a>
                    <a href="<%=`/collections/men` %>" class="block-shop-for-men blocks-shops">
                        <div class="content-block">
                            <h2 class="block-tittle">
                                Glasses For Men
                            </h2>

                        </div>
                    </a>
                </section>



                <%- include("./partials/tabs") %>


                    <%- include("./partials/footer") %>

</body>

</html>