<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="\js\createValidation.js"></script>

</head>

<body>
    <%- include("./partials/header") %>
        <section>
            <main class="container-content">

                <div class="button-gf">
                    <button type="submit" class="button-g"><i class="fab fa-google"
                            style="margin-right: 20px;"></i>Continuar con
                        Google</button>
                    <button type="submit" class="button-g"><i class="fab fa-facebook-square"
                            style="margin-right: 20px;"></i>Continuar con
                        Facebook</button>
                </div>

                <form action="/register" method="post" class="create-form" enctype="multipart/form-data">
                    <ul class="errors"></ul>
                    <div class="control-form">
                        <label>Nombre y apellido:</label>
                        <input type="text" name="name" id="name" class="control <%= locals.errors && errors.name ? 'is-invalid' :
                            null %>" value="<%= locals.oldData ? oldData.name : null %>">

                        <% if (locals.errors && errors.name) { %>
                            <p style="color: red">
                                <%= errors.name.msg %>
                            </p>
                            <% } %>
                    </div>
                    <div class="control-form">
                        <label>Im치gen de perfil</label>
                        <input type="file" name="img" id="img" class="control">
                        <% if (locals.errors && errors.img) { %>
                            <p style="color: red">
                                <%= errors.img.msg %>
                            </p>
                            <% } %>
                    </div>
                    <div class="control-form">
                        <label>Correo electr칩nico:</label>
                        <input type="text" name="email" id="email"
                            class="control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.email : null %>">
                        <% if (locals.errors && errors.email) { %>
                            <p style="color: red">
                                <%= errors.email.msg %>
                            </p>
                            <% } %>
                    </div>

                    <div class="control-form">
                        <label>Domicilio:</label>
                        <input type="text" name="direction" id="direction"
                            class="control <%= locals.errors && errors.direction ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.direction : null %>">
                        <% if (locals.errors && errors.direction) { %>
                            <p style="color: red">
                                <%= errors.direction.msg %>
                            </p>
                            <% } %>
                    </div>


                    <div class="control-form">
                        <label>Contrase침a:</label>
                        <input type="password" name="password" id="password"
                            class="control <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                        <% if (locals.errors && errors.password) { %>
                            <p style="color: red">
                                <%= errors.password.msg %>
                            </p>
                            <% } %>
                    </div>
                    <div class="control-form">
                        <label>Confirmar Contrase침a:</label>
                        <input type="password" name="repassword" id="repassword"
                            class="control <%= locals.errors && errors.repassword ? 'is-invalid' : null %>">
                        <% if (locals.errors && errors.repassword) { %>
                            <p style="color: red">
                                <%= errors.repassword.msg %>
                            </p>
                            <% } %>
                    </div>
                    <button type="submit" class="button-form">Crear cuenta</button>
                </form>

            </main>
            <%- include("./partials/footer") %>
</body>

</html>